<div class="menu">
  <div id="menu-center">

    <header id="header">
      <!-- <div id="topbar">
          <div class="social-links" >
            <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
            <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
          </div>
      </div> -->


      <nav class="navbar navbar-expand-lg navbar-light bg-white main-nav">
        <!-- <h2 style="margin-left: 30px"  class="navbar-brand scrollto" ><span ><b>Global Software Consulting</b></span></h2> -->
        <div style="margin-left: 50px; "><img src="assets/img/logo-1.png" alt="" height="70px"></div>
        <button style="margin-right: 30px" class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" style="margin-right: 40px" id="navbarNavDropdown">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class="navbar-nav">
            <li><a class="active" href="#intro">Home</a></li>
            <li><a href="#about">About Us</a></li>
            <li><a href="#services">Services</a> </li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#team">Team</a></li>
            <li><a href="#contact-us">Contact</a></li>

          </ul>
        </div>



      </nav>
    </header>
  </div>
</div>