<app-header></app-header>
<div style="margin-top:60px">

  <!--==========================
    Intro Section
  ============================-->
  <app-home></app-home>


  <!--==========================
      About Us Section
    ============================-->

  <app-about-us></app-about-us>



  <!--==========================
      Services Section
    ============================-->

  <app-our-services></app-our-services>

  <!--==========================
      Portfolio Section
    ============================-->

  <app-portfolio></app-portfolio>


  <!--==========================
      Clients Section
    ============================-->

  <app-testimonials></app-testimonials>


  <!--==========================
      Team Section
    ============================-->
  <app-team></app-team>

  <!--==========================
    Footer
  ============================-->
  <app-contact-us></app-contact-us>

</div>